.MyButton {
    width: fit-content;
    height: fit-content;
    padding: 10px 40px;
    border: 3px solid white;
    color: white;
    background: black;
    margin-top: -10px;
}

.MyButton:hover {
    color: wheat;
    border: 3px solid wheat;
}