.cell {
    display: none;
    width: 50px;
    height: 50px;
    margin: 0;
}

.cell:hover {
    cursor: pointer;
    transform: rotateY(180deg) rotateX(180deg);
}

.numberField {
    z-index: 0;
    margin: 0;
    padding: 0;
    background-color: #757575;
    border: 5px solid #333333;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
}

.img {
    z-index: 0;
    width: 40px;
    height: 40px;
}